name: Build APK
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        
      - name: Setup NuGet
        uses: nuget/setup-nuget@v2

      - name: Restore Packages
        run: nuget restore PKHeX.Mobile.sln

      - name: Build Android
        # Hemos simplificado el comando eliminando las rutas que daban error
        run: msbuild PKHeX.Mobile.Android/PKHeX.Mobile.Android.csproj /p:Configuration=Release /t:PackageForAndroid /p:AndroidBuildApplicationPackage=true

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: PKHeX-Classic-APK
          # Buscamos cualquier APK que se haya generado, firmado o no
          path: PKHeX.Mobile.Android/bin/Release/*.apk
